@charset "utf-8";
@import 'bulma/css/bulma.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.testName{
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;

}
.testDescription{
  font-size: 1rem;
}

.shaderCode {
  max-width: 600px;
  max-height: 300px;
  font-size: 0.6rem;
}

.stressPanel {
  width: 25%;
  margin-left: 5px;
}

.dropdown {
  margin-left: 5px;
}

.testPassed {
  color: green;
}

.testFailed {
  color: red;
}

.sequentialTH {
  color: green !important;
  white-space: nowrap;
  font-size: 0.7em;
}

.interleavedTH {
  color: blue !important;
  white-space: nowrap;
  font-size: 0.7em;
}

.weakTH {
  color: red !important;
  white-space: nowrap;
  font-size: 0.7em;
}
.my-popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 300px;
  padding: 5px;
}
.my-popup-arrow {
  color: rgb(255, 255, 255);
}
/* [role='tooltip'].my-popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
} */

.my-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].my-popup-overlay {
  background: transparent;
}