[Unit]
Description=GPU Harbor Node server
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=10
WorkingDirectory=/usr/src/webgpu-litmus
PermissionsStartOnly=true
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target
